PORT=8000
MONGODB_URI=mongodb+srv://VASUDEV:VASUDEV@vasu.iekxfxk.mongodb.net
DB_NAME=videotube
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=sfnhhhhhhjdcka
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=asmmeuual
REFRESH_TOKEN_EXPIRY=10d
CLOUDINARY_CLOUD_NAME=dcx75dq7z
CLOUDINARY_API_KEY=469115472956885
CLOUDINARY_API_SECRET=**********